{% extends "base.html" %}

{% block title %}Aviso Legal y Propiedad Intelectual{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="mb-4">Aviso Legal y Propiedad Intelectual</h1>
    <p>
    Este sitio web es un proyecto exclusivamente <strong>divulgativo y educativo</strong> sobre ciberseguridad, sin ánimo de lucro y carente de actividad comercial. Al no existir explotación económica, este sitio se rige bajo los principios de libertad de expresión e información.
    </p>
      
    <div class="card p-4 shadow-sm border-0">
        <h3>1.Propiedad Intelectual:</h3>
       <p>Todos los contenidos (textos, guías, gráficos y recursos) son propiedad exclusiva de <strong>Horizonte Digital Seguro</strong>. Queda estrictamente prohibida su reproducción total o parcial, distribución o comunicación pública con fines comerciales. Se permite el uso compartido de fragmentos siempre que se cite de forma clara la autoría y se enlace a la fuente original.
        </p>
        
        <h3 class="mt-4">2.Política de Privacidad</h3>
        <p>
        <strong>Privacidad desde el diseño:</strong> Esta web ha sido configurada para respetar al máximo tu privacidad. <strong>Por ello, no recabamos, no almacenamos ni tratamos ningún dato de carácter personal</strong>. Si quieres contactar con nosotras puedes hacerlo a través de nuestra cuenta de Instagram.
        </p>
        <h3 class="mt-4">3. Política de Cookies</h3>
        <p>
        En cumplimiento con la normativa de la AEPD, te informamos de que este sitio <strong>solo utiliza cookies técnicas propias</strong>, esenciales para el funcionamiento básico y la visualización de la página. No utilizamos cookies de terceros, ni píxeles de seguimiento, ni herramientas analíticas (como Google Analytics), por lo que no se realiza ningún perfilado ni rastreo de tu navegación. 
        </p>
        <h2>Descargo de Responsabilidad (Disclaimer)</h2>
        <p>
            El contenido de este blog se publica exclusivamente con fines <strong>educativos y de divulgación</strong>. La información aquí expuesta refleja la opinión personal del autor y no constituye, bajo ninguna circunstancia, asesoramiento profesional, consultoría técnica ni servicios de auditoría de seguridad.
        </p>
        <p>
            Horizonte Digital Seguro no se hace responsable del uso indebido, ilegal o negligente de la información compartida, ni de los posibles daños técnicos o pérdidas de datos derivados de la aplicación de los conceptos explicados. El usuario asume toda la responsabilidad sobre las pruebas que realice en sus propios entornos controlados. <strong>Recuerda:</strong> las herramientas y técnicas descritas deben usarse siempre en un marco ético y legal.
        </p>
    </div>
</div>
{% endblock %}